{if !empty($messages)}
        {foreach $messages as $message}
            <img src="{$media_path}img/item_infor_warning.png" alt="i">{$message}
        {/foreach}
{*     <script type="text/javascript">
        $(function() {
           $('#message-modal').foundation('open');
        });
    </script> *}
{/if}