<div class="banner" id="banner_zpravy">
        
            <div class="row">
            
                <h1>{$item.nadpis}</h1>
            
            </div>
        
        </div>
        <div class="row">
            <div class="columns">
                {if !empty($item.photo.ad)}
            <img src="{$item.photo.ad}" alt="{$item.nazev}">
        {/if}
            {$item.popis}
            </div>
            
        </div>