#topBar .responsiveToggle { // lišta pro mobily

}

#topBar .topBar { // menu
  background-color: $white;
  position: relative;
  border-bottom: rem-calc(1) solid #e5ecf1;
  -webkit-box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  -moz-box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  box-shadow: rem-calc(0px 0px 13px 4px) rgba(0, 0, 0, 0.12);
  $vyskaPruhu: rem-calc(2);
  padding-bottom: $vyskaPruhu;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: $vyskaPruhu;
    background-color: #eeeff2;
    bottom: 0;
  }
  li {
    padding: rem-calc(30 0);
  }
  .top-bar-title img{
    margin-top: rem-calc(36);
  }
  .title-bar-right li {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: $vyskaPruhu;
      background-color: transparent;
      bottom: -$vyskaPruhu;
      z-index: 10;
    }
    &:hover {
      background-color: #f5f5f5;
      &:after {
        background-color: #61c1dd;
      }
    }
  }
  .title-bar-right a {
    text-transform: uppercase;
    color: $body-font-color;
  }
}