<div id="slider" class="orbit" role="region" aria-label="Bannery" data-orbit>
  <ul class="orbit-container">
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider1.jpg" alt="Něco">
      <div class="row orbitText">
        <div class="small-12 columns">
          <h2>
            Jsme <b>jedničkou</b> na trhu <b>devizových obchodů</b>
            spotového charakteru.
          </h2>
          <p>
            “Máme přes 13tis. loajálních klientů, s čím můžeme pomoci...”
          </p>
          <a href="#" class="button">Kontaktujte nás</a>
        </div>
      </div>

    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="{{root}}assets/img/slider2.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider3.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="{{root}}assets/img/slider4.jpg" alt="Něco">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <!-- More slides... -->
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<div class="numbers">
  <div class="row">
    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>13 286</strong>
        </div>
        <div class="small-6 columns">
          <em>
            Spokojených klientů
            v našem portfoliu
          </em>
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>150 420</strong>
        </div>
        <div class="small-6 columns">
          <em>
            Vypořádaných obchodů
            v tomto roce, děkujeme!
          </em>
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <strong>1.5mil</strong>
        </div>
        <div class="small-6 columns">
          <em>
            vyřízených
            telefonátů dnes
          </em>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="whySAB">
  <div class="row">
    <div class="small-12 columns">
      <h2><b>Proč</b> SAB Finance a.s.?</h2>
    </div>
  </div>
  <div class="links row small-up-1 medium-up-2 large-up-3">
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/dlouhHv.png" alt="">
          <img src="{{root}}assets/img/dlouh.png" alt="">
          <p>
            <strong>Dlouhodobě nejvýhodnější</strong>
            <br>
            měnové kurzy na trhu
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/zbavHv.png" alt="">
          <img src="{{root}}assets/img/zbav.png" alt="">
          <p>
            <strong>Zbavíme</strong> Vás absurdních
            <br>
            <strong>poplatků</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/bleskoHv.png" alt="">
          <img src="{{root}}assets/img/blesko.png" alt="">
          <p>
            <strong>Bleskové vypořádání</strong>
            <br>
            Vašich plateb
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/transpHv.png" alt="">
          <img src="{{root}}assets/img/transp.png" alt="">
          <p>
            <strong>Transparentnost</strong>
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/100Hv.png" alt="">
          <img src="{{root}}assets/img/100.png" alt="">
          <p>
            <strong>100% jistota</strong>
            <br>
            a bezpečnost
          </p>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="#">
        <div>
          <img src="{{root}}assets/img/12letHv.png" alt="">
          <img src="{{root}}assets/img/12let.png" alt="">
          <p>
            <strong>12 let</strong>
            <br>
            zkušeností
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-3 small-centered columns text-center">
      <a href="#" class="button secondary">Více o spolupráci</a>
    </div>
  </div>
</div>


