{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div data-sticky-container id="topBar">
    <div data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar responsiveToggle" data-responsive-toggle="topBarMenu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="title-bar" id="topBarMenu">
        <div class="topBar">
          <div class="row">
            <div class="small-12 columns">
              <div class="top-bar-title">
                <a href="/"><img src="{{root}}assets/img/logoSab.png" alt="sab"></a>
              </div>
              <div>
                <div class="title-bar-left"><!-- Content --></div>
                <div class="title-bar-right">
                  <ul class="vertical medium-horizontal menu">
                    <li><a href="#"><img src="{{root}}assets/img/home.png" alt="Domů"></a></li>
                    <li><a href="#">PRO KLIENTY</a></li>
                    <li><a href="#">O NÁS</a></li>
                    <li><a href="#">Zprávy</a></li>
                    <li><a href="#">Kariéra</a></li>
                    <li><a href="#">Ke stažení</a></li>
                    <li><a href="#">Kontakty</a></li>
                    <li><a href="#" class="button">Mám zájem</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>