#slider {
  img {
    min-height: rem-calc(270);
  }
  .orbitText {
    padding-top: rem-calc(20);
    @include breakpoint(1650px) {
      padding-top: rem-calc(195) !important;
    }
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    color: $white !important;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.75);
    font-size: rem-calc(20);
    font-weight: $global-weight-normal;
    font-weight: $global-weight-regular;
    font-style: italic;
    @include breakpoint(850px) {
      padding-top: rem-calc(50);
      h2 {
        margin-bottom: rem-calc(30);
      }
      p {
        margin-bottom: rem-calc(40);
      }
    }
    h2 {
      color: $white !important;
      text-shadow: -4px 2px 12px rgba(0, 0, 0, 0.45);
      font-size: rem-calc(25);
      font-weight: $global-weight-normal;
      margin-bottom: rem-calc(15);
      line-height: rem-calc(25);
      @include breakpoint(1000px) {
        font-size: rem-calc(48);
        line-height: rem-calc(55);
      }
    }
    p {
      line-height: rem-calc(20);
      margin-bottom: rem-calc(15);
      @include breakpoint(1130px) {
        margin-bottom: rem-calc(80);
      }
    }
  }
}