{widget controller="slider"}
<div class="numbers sector" id="head_banner_content_section">
	{static_content code="cisla"}
</div>
		
 <div id="page">
	{widget controller="box" action="box_generator" param="1"}
	{widget controller="box" action="box_generator" param="2"}
	{widget controller="box" action="box_generator" param="3"}
	<section class="sliderik" id="co_rikaji_backround">
		<div class="row">
			<h2 class="sliderik_title  wow slideInLeft"><span class="bold_text">Co o nás říkají</span> naši klienti?</h2>
		</div>
		{widget controller="box" action="box_generator" param="4"}
	</section>

		

	{static_content code="modry_box"}
	{widget controller="article" action="widget"}
  </div>