<script language='javascript' type='text/javascript' src='https://{$payu_server_base_url}/jsgenerator/js/jquery-latest.js'></script>
<script language='javascript' type='text/javascript' src='https://{$payu_server_base_url}{$payu_base_call}js/{$payu_pos_id}/{$payu_key1|truncate:2:"":true}/template:3/ext_calc:0/paytype.js'></script>
