{* sablona nahledoveho kosiku vlozeneho do stranek *}
 <div class="cart">
                    <div class="row">
                        <div class="large-4 medium-3 small-12 columns">
                            <div class="icon">
                                <img src="{$media_path}images/cart.png" alt="">

                                <div class="count">{$total_items}</div>
                            </div>
                        </div>
                        <div class="large-8 medium-9 small-12 columns">
                            <a href="{$url_base}nakupni-kosik">{translate str="Nakupní košík"}</a>

                            <div class="sum">{$cena_celkem_s_dph|currency:$language_code}</div>
                        </div>
                    </div>
                </div>


<!--div class="row shopping_cart">
     {*if $total_items>0*}
	 <div  class="col-md-5 col-sm-2 col-xs-5 cart">
	 {translate str="Váš košík"}
	 </div>
	 <div  class="col-md-5 col-sm-2 col-xs-5 cart">
     <a href="{$url_base}nakupni-kosik" class="cartIN">
	   {if $total_items>0}
        <span class="price_all">{$cena_celkem_s_dph|currency:'cz'}</span>
         {/if}
        
     </a>
	</div>
	 <div  class="col-md-2 col-sm-2 col-xs-2 cart_amont">

	 </div>
     {*else}

        <span class="empty">
        
        {translate str="prázdný košík"}

        </span>

     {/if*}
     
   </div-->

 
